* {
    font-family: 'Goldman', cursive;
    margin: 0px;
}

body {
    background-color: #005F73;
}

p {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    padding: 15px;
    font-size: 115%;
    background-color:#0A9396;
}

#add {
    color: red;
}

a:hover {
    opacity: .7;
}

#pageGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#gameTitle {
    grid-column: 1 / span 5;
    grid-row: 1;
    text-decoration: underline;
    font-size: 3em;
    justify-self: center;
    text-shadow: 2px 1px #9B2226;
}

/* stickman */
.stickman {
    width: 500px;
    height: 500px;
    grid-column: 2;
    grid-row: 1 / span 2;
    position: relative;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(14, 25px);
}

.stickman p {
    height: 0;
    width: 0;
}

#gallowBase {
    font-size: 420px;
    grid-column: 1 / span 10;
    grid-row: 8;
}

#gallowShaft {
    font-size: 390px;
    grid-column: 4;
    grid-row: 8;
}

#legs {
    font-size: 85px;
    grid-column: 23;
    grid-row: 12 / span 4;
    align-self: center;
}

#torso {
    font-size: 75px;
    grid-column: 24;
    grid-row: 14;
    align-self: center;
}

#arms {
    font-size: 70px;
    grid-column: 22;
    grid-row: 13;
    align-self: center;
}

#head {
    font-size: 70px;
    grid-column: 22;
    grid-row: 12;
    align-self: flex-end;
}

#noose {
    font-size: 60px;
    grid-column: 24;
    grid-row: 12;
    align-self: flex-start;
}

#gallowBrace {
    font-size: 50px;
    grid-column: 11;
    grid-row: 12;
    align-self: flex-end;
}

#gallowArm {
    font-size: 320px;
    grid-column: 6;
    grid-row: 1;
}

/* wrong letters */
.wrongLetters {
    color: #E9D8A6;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    margin: 20px;
    border: 3px solid #9B2226;
    border-radius: 10px;
    background-color: #000000;
    font-size: 25px;
    height: 100px;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

#wrongLettersFlex {
    display: flex;
    justify-content: space-around;
}

#wrongTitle {
    width: auto;
    padding: 8px;
    text-align: center;
    text-decoration: underline;
 }

 .wrongLetters p {
    width: 25px;
    margin: 0px;
 }

/* div + para's that control answer */
.wordContainerDiv {
    grid-column: 3 / span 2;
    grid-row: 2;
    align-self: flex-end;
}

.wordDiv {
    clear: both;
    font-size: 65px;
    color: #E9D8A6;
    display: flex;
    justify-content: center;
    }

/* form elements */
.guessingDiv {
    grid-column: 3 / span 2;
    grid-row: 3;
    text-align: center;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    justify-content: center;
}

form {
    font-size: 20px;
}

#guessingTitle {
    background-color: #9B2226;
    border: 2px dotted #000000;
    color: #E9D8A6;
    border-radius: 2em;
}

#inputAnswer {
    text-align: center;
    font-size: 40px;
    background-color: #0A9396;
    width: 1em;
    height: 1em;
}

button {
    margin: 5px;
    border-radius: 10px;
    background-color: #9B2226;
    font-size: 20px;
    font-weight: bold;
    color: #E9D8A6;
}

button:hover {
    background-color: #AE2012;
    border-radius: 10px;
}

#getWord {
    font-weight: normal;
}

button:disabled {
    background-color: darkgray;
}
